body {
    background: linear-gradient(140deg, #3498db, #9b59b6);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", Consolas, Helvetica, sans-serif;
}

.chat-app {
    background-color: rgba(255,255,255,0.1);
}

.chat-app.container {
    width: 70vw;
    height: 70vh;
    opacity: 0%;
    border-radius: 10px;
    border: 3px solid rgba(255,255,255,0.2);
    display: flex;
    transition-property: width, height, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.rooms-online-container {
    height: 100%;
    width: 25%;
}

.chat-app.online {
    width: 100%;
    height: 30px;
    border-radius: 7px 0px 0px 0px;
    border-right:  3px solid rgba(255,255,255,0.1);
    /* border-bottom: 3px solid rgba(255,255,255,0.2); */
    display: flex;
    align-items: center;
    justify-content: center;

}

.chat-app.online .indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #e74c3c;
    opacity: 0%;
    transition: opacity 0.7s ease;
}

.chat-app.online .indicator-text {
    opacity: 0%;
    margin-left: 0.5rem;
    color: white;
    transition: opacity 0.7s ease;
}

.chat-app.rooms {
    height: calc(100% - 30px);
    width: 100%;
    /* background-color: rgba(0,255,0,0.3); */
    border-radius: 0px 0px 0px 7px;
    border-right: 3px solid rgba(255,255,255,0.1);
}

.chat-app.sender {
    border-radius: 0px 0px 7px 0px;
    /* background-color: rgba(255,0,0,0.3); */
    height: calc(15% - 3px);
    width: 100%;
    border-top: 3px solid rgba(255,255,255,0.1);
    display: flex;
    align-self: flex-end;
}

.chat-app.sender textarea {
    resize: none;
    width: 85%;
    height: calc(100% - 10px);
    border: none;
    background-color: rgba(255,255,255,0);
    overflow-y: hidden;
    font-size: 20px;
    padding: 5px 10px;
    color: black;
    transition: background-color 0.2s ease;
    border-right: 3px solid rgba(255,255,255,0.1);
}

.chat-app.sender textarea:focus {
    background-color: rgba(255,255,255,0.2);
}


textarea:focus, select:focus{
    outline: none;
}

.chat-app.sender .send-button {
    height: 100%;
    width: 15%;
    opacity: 100%;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.2s ease;
    border-radius: 0px 0px 7px 0px;
}

@keyframes send-animation-keyframes {
    0% { transform: translate(0%,0%); }
    55% { transform: translate(150%, -150%); }
    56% { transform: translate(150%, 150%); }
    57% { transform: translate(-150%,150%); }
    100% { transform: translate(0%,0%); }
}

.chat-app.sender .send-button:hover {
    background-color: rgba(255,255,255,0.2);
}

.chat-app.sender .send-button:active {
    background-color: rgba(255,255,255,0.8);
}

.send-animation {
    animation: send-animation-keyframes 0.3s ease;
}

.chat-app.sender .send-button img {
    width: 100%;
    height: 100%;
    opacity: 20%;
    transition: opacity 0.7s ease;
}

.messages-sender-container {
    height: 100%;
    width: 75%;
}

.chat-app.messages {
    width: calc(100% - 30px);
    height: calc(85% - 30px);
    padding: 15px;
    /* display: flex;
    flex-direction: column; */
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /*This removes the scrollbar on firefox*/
    -ms-overflow-style: none; /*This removes the scrollbar on IE and Edge*/
}

.chat-app.messages::-webkit-scrollbar { /*This removes the scrollbar on Safari and Chrome*/
    width: 0;
    height: 0;
}

p {
    margin-top: 0;
}

.chat-app.messages .message {
    width: 50%;
    padding: 15px;
    padding-bottom: 5px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    color: rgba(0,0,0,0.35);
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 1s ease;
}

.chat-app.messages .message .message-sender {
    margin: 0px;
    text-align: left;
    color: rgba(0,0,0,0.6);
}

.chat-app.messages .message .message-content {
    margin: 10px 0px 5px 10px;
    text-align: left;
    color: rgba(0,0,0,0.6);
}

.chat-app.messages .message.right {
    margin-left: auto;
    text-align: left;
}

.chat-app.messages .message.right .message-sender {
    margin-left: auto;
}

.chat-app.messages .message.right .message-content {
    margin: 10px 10px 5px 0px;
    margin-left: auto;
}